<div class="page-title">
  <h1>Test</h1>
</div>
<div class="container">
  <div class="question-container" *ngIf="currentQuestion">
    <div class="question-text">
      <div
        class="question-text-container"
        *ngIf="
          currentQuestion.question_type === 'ChineseCharacter' ||
          currentQuestion.question_type === 'SpanishCharacter'
        "
      >
        <p class="question-container-text">
          {{ getCharacter(currentQuestion.question) }}
        </p>
      </div>

      <div
        class="volume-container"
        *ngIf="
          currentQuestion.question_type === 'ChineseVoice' ||
          currentQuestion.question_type === 'SpanishVoice'
        "
      >
        <audio controls id="audio-question">
          <source
            [src]="getQuestionUrl(currentQuestion.question)"
            type="audio/mpeg"
          />
        </audio>
      </div>

      <div
        class="image-container"
        *ngIf="currentQuestion.question_type === 'Img'"
      >
        <img
          class="image-container-image"
          [src]="getQuestionUrl(currentQuestion.question)"
          alt="Image"
        />
      </div>
    </div>

    <div class="question-option-container">
      <div
        class="question-options"
        *ngIf="currentQuestion.answer_type === 'ChineseCharacter'"
      >
        <div class="question-option" *ngFor="let option of getChineseOptions()">
          <button
            mat-flat-button
            color="primary"
            (click)="selectOption(option)"
          >
            {{ option.character }}
          </button>
        </div>
      </div>

      <div
        class="question-options"
        *ngIf="currentQuestion.answer_type === 'SpanishCharacter'"
      >
        <div class="question-option" *ngFor="let option of getSpanishOptions()">
          <button
            mat-flat-button
            color="primary"
            (click)="selectOption(option)"
          >
            {{ option.character }}
          </button>
        </div>
      </div>

      <div
        class="question-options"
        *ngIf="currentQuestion.answer_type === 'ChineseVoice'"
      >
        <div
          class="question-option"
          *ngFor="let option of getChineseVoiceOptions()"
        >
          <button
            mat-flat-button
            color="primary"
            (click)="selectOption(option)"
            (mouseenter)="playAudio('audio-chinese-' + option.id)"
            (mouseleave)="pauseAudio('audio-chinese-' + option.id)"
          >
            Hover
          </button>
          <audio
            [src]="getOptionUrl(option)"
            id="audio-chinese-{{ option.id }}"
          ></audio>
        </div>
      </div>

      <div
        class="question-options"
        *ngIf="currentQuestion.answer_type === 'SpanishVoice'"
      >
        <div
          class="question-option"
          *ngFor="let option of getSpanishVoiceOptions()"
        >
          <button
            mat-flat-button
            color="primary"
            (click)="selectOption(option)"
            (mouseenter)="playAudio('audio-spanish-' + option.id)"
            (mouseleave)="pauseAudio('audio-spanish-' + option.id)"
          >
            Hover
          </button>
          <audio
            [src]="getOptionUrl(option)"
            id="audio-spanish-{{ option.id }}"
          ></audio>
        </div>
      </div>

      <div
        class="question-options"
        *ngIf="currentQuestion.answer_type === 'Img'"
      >
        <div
          *ngFor="let option of getImgOptions()"
          class="question-option"
          (click)="selectOption(option)"
        >
          <img [src]="getOptionUrl(option)" alt="Image" />
        </div>
      </div>
    </div>
    <p *ngIf="!currentQuestion">No more questions!</p>
  </div>
</div>
<div class="progress-bar-container">
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    value="{{ getProgress() }}"
  ></mat-progress-bar>
  <p class="progress-bar-text">&nbsp;&nbsp;{{ getProgress() }}%</p>
</div>
